<h1>Find and Replace!</h1>
<form class="" action='/result'>
  <div class="form-group">
    <h3>Enter words to see if they are anagrams!</h3>
    <label for="input_one">Word(s) One:</label>
    <input name="input_one" class="form-control" type="text">
    <label for="input_two">Word(s) Two</label>
    <input name="input_two" class="form-control" type="text">
  </div>
  <button type="submit" class="btn btn-info">Anagrize!</button>
</form>
