<h1>Your inputs are:</h1>
<p>
  <%= @input_one %>
</p>
<p>
  <%= @input_two %>
</p>
<h1>These words evaluate as:</h1>
<h3>
  <%= @result %>
</h3>
<h3>there are <%= @similarity %> matching letters.
</h3>
<div id="background">
  <!-- empty div for background -->
</div>
